<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @supporter.name %>
</p>

<p>
  <b>Email:</b>
  <%= @supporter.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @supporter.phone %>
</p>
<% if @supporter.isIT? %>
<p>
	<b>Role:</b> IT
</p>
<% else %>
<p>
	<b>Role:</b> Developer
</p>
<% end %>


<%= link_to 'Edit', edit_supporter_path(@supporter) %> |
<%= link_to 'Back', supporters_path %>
