<%= form_for(@event, :html => {:class => "ajaxForm"}, :remote => true) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :startDate, 'Start Date' %><br />
		<%= f.text_field :startDate %>

  </div>
  <div class="field">
    <%= f.label :endDate, 'End Date' %><br />
		<%= f.text_field :endDate %>

  </div>
  <div class="field">
    <%= f.label :startTime, 'Start Time' %><br />
    <%= f.time_select :startTime, {:minute_step => 15} %>
  </div>
  <div class="field">
    <%= f.label :endTime, 'End Time' %><br />
    <%= f.time_select :endTime, {:minute_step => 15} %>
  </div>
	<div class="field">
    <%= f.label :supporter_id, 'Who?' %><br />
		<% if current_user.login == "it" %>
			<%= f.collection_select( :supporter_id, Supporter.its, :id, :name) %>
		<% else %>
	  	<%= f.collection_select( :supporter_id, Supporter.devs, :id, :name) %>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
