<h1>Agenda</h1>
<hr/>
<div id="agenda">
<table >

<% @events.each do |event| %>
	  <tr>

    <th><%= event.startDate.strftime("%a, %d %b %Y") %></th>

   <td><%=h event.startTime.strftime("%I:%M%p") %> - <%= event.endTime.strftime("%I:%M%p") %></td>
    <td><%=h event.supporter.name %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'Home', events_path %>