<h1>Agenda</h1>
<hr/>
<div id="agenda">
<table >

<% @events.each do |event| %>
	  <tr>

    <td><%= event.startDate.strftime("%a, %d %b %Y") %> at <%=h event.startTime.strftime("%I:%M%p") %></td>
   	<td><%= event.endDate.strftime("%a, %d %b %Y") %> at <%= event.endTime.strftime("%I:%M%p") %></td>
    <th><%=h event.supporter.name %></th>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'Home', events_path %>