<h1>Agenda</h1>
<hr/>
<div id="agenda">
<table >
<th>Start Date</th>
<th>End Date</th>
<th>Supporter</th>
<% @events.each do |event| %>
		
	<tr>
	<% if event.all_day %>
		<td>All Day</td>
		<td>All Day</td>
	<% else %>
	  <td><%= event.startDate.strftime("%a, %d %b %Y") %> at <%= event.startTime.strftime("%I:%M%p") %></td>
		<td><%= event.endDate.strftime("%a, %d %b %Y") %> at <%= event.endTime.strftime("%I:%M%p") %></td>
	<% end %>
    <td><%=h event.supporter.name %></td>
  </tr>
<% end %>
</table>
</div>
